:root {
--first-text-color: #2E2F42;
--second-text-color: #434455;
--brand-color: #4D5AE5;
--active-color: #404BBF;
}

body {
    color: var(--first-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.btn {
    cursor: pointer;
}

/* --------------HEADER------------- */

.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--brand-color) }
.logo > span {
color: var(--first-text-color);
}
.navigation-item {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
}
.address-mail:focus,
.address-mail:hover,
.address-tell:hover,
.address-tell:focus {
    color: var(--active-color);

}
.address-item>a {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--second-text-color);
}
.navigation-link:focus,
.navigation-link:hover {
    color: var(--active-color);
}

/* -------------HERO----------- */

.hero {
background: var(--first-text-color);
}
.hero-title {
font-size: 56px;
line-height: 1.07;
text-align: center;
color: #FFFFFF;
}
.hero-btn {
font-family: 'Roboto' , sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background: var(--brand-color);
}
.hero-btn:focus,
.hero-btn:hover {
background: var(--active-color);
}
 /* ------------OUR FEATURES--------- */
.features-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}
.features-text {
font-size: 16px;
line-height: 1.5;
color: var(--second-text-color);
}
/* ---------What we are doing---------- */

.title-we-do {
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
}

/* ------------TEAM CARD---------- */
.section-team {
background: #F4F4FD;
}
.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
}
.team-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
}
.team-text {
font-size: 16px;
line-height: 1.5;
text-align: center;
color: var(--second-text-color);
}
/* ---------FOOTER---------- */
.footer {
background: var(--first-text-color);
}
footer>.logo>span{
color: #F4F4FD;
}
.footer-text {
font-size: 16px;
line-height: 1.5;
color: #E7E9FC;
}
/* -------PORTFOLIO-FILTERS------ */

.filters-btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--brand-color);
background: #F4F4FD;
}
.filters-btn:focus,
.filters-btn:hover {
    color: #FFFFFF;
    background: var(--active-color);
}
/* ----PORTFOLIO-CARDS----- */

.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--first-text-color);
}

.portfolio-text {
font-size: 16px;
line-height: 1.5;
color: var(--second-text-color);
}